* {
  box-sizing: border-box;
}


.login-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-title {
  text-align: center;
  color: #0d47a1;
  font-size: 32px;
  margin-bottom: 10px;
}

.login-input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
  box-sizing: border-box;
}

.login-input:focus {
  border-color: #0d47a1;
  box-shadow: 0 0 0 3px rgba(13, 71, 161, 0.15);
}

.login-button {
  width: 100%;
  background: #0d47a1;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background: #1565c0;
}